name: IaC

on:
  pull_request:
    paths:
      - "infra/**"
      - "env/**"
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to apply"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - prod

jobs:
  pre-commit:
    if: github.event_name == 'pull_request'
    uses: {{cookiecutter.github_actions_repo}}/.github/workflows/pre-commit-check.yml@{{cookiecutter.github_actions_ref}}

  plan:
    if: github.event_name == 'pull_request'
    needs: pre-commit
    uses: {{cookiecutter.github_actions_repo}}/.github/workflows/tofu-plan.yml@{{cookiecutter.github_actions_ref}}
    with:
      environment: dev
      stack_dir: infra/stacks/{{cookiecutter.stack_name}}
      var_file: env/dev.tfvars
      tofu_version: {{cookiecutter.tofu_version}}
      pr_comment: true
      enable_security_scan: true
      # enable_cost_estimate: true  # Requires INFRACOST_API_KEY secret (get free at https://infracost.io)
    secrets: inherit

  apply:
    if: github.event_name == 'workflow_dispatch'
    uses: {{cookiecutter.github_actions_repo}}/.github/workflows/tofu-apply.yml@{{cookiecutter.github_actions_ref}}
    with:
      environment: {% raw %}${{ inputs.environment }}{% endraw %}
      stack_dir: infra/stacks/{{cookiecutter.stack_name}}
      var_file: env/{% raw %}${{ inputs.environment }}{% endraw %}.tfvars
      tofu_version: {{cookiecutter.tofu_version}}
      require_plan_artifact: false
    secrets: inherit
